button {
    background-color: #fff;
    color: rgb(57, 129, 178);
    padding: 8px;
    margin-left: 250px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid rgb(57, 129, 178);
    cursor: pointer;
}
button:hover {
    background-color:rgb(57, 129, 178);
    color: #fff;
    border: solid #fff; 
}



